/*Информационный блок сайта*/
.InformationAboutSite {
    color: black;
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 90vh;
    display: flex;
    flex-direction: row;
    position: relative;
    .InformationAboutSiteAside{
        display: flex;
        width: 50%;
        height: 60%;
        flex-direction: column;
        justify-content: center;
        padding: 7% 7%;
        .InformationAboutSiteAside__title {
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', serif;
            font-size: 3.5vh;
            font-weight: 400;
            letter-spacing: 10px;
            width: 80%;
            padding-bottom: 8%;
        }
        .InformationAboutSiteAside__text {
            font-size: 2vh;
            letter-spacing: 2px;
        }
        .InformationAboutSiteAside__langList{
            font-size: 2vh;
            line-height: 2.5vh;
            font-weight: 800;
            padding-top: 2%;
        }
        li{
            font-weight: 500;
            list-style-type: none;
            padding-left: 30px;
            background: url(../../assets/images/galochka.png)no-repeat;
            background-size: contain;
        }
    }
    .InformationAboutSiteNav{
        z-index: 1;
        position: absolute;
        display: flex;
        flex-direction: row;
        width: 75%;
        height: 40%;
        bottom: 0;
        .InformationAboutSiteNav__imageNav {
            width: 25%;
            height: 100%;
        }
    }
    
    .InformationAboutSiteNav__phon {
        position: absolute;
        right: 0;
        width: 50%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
    }
}

