.LevelSection{
    padding-top: 10vh;
    width: 100%;
    height: 90vh;
    display: flex;
    position: relative;
    flex-direction: row;
    z-index: 0;
    justify-content: space-between;
    background: linear-gradient(50deg, rgb(16, 16, 16) 11%, rgb(200, 200, 200) 93%);
    .LevelSection__levelList{
        background-color: rgba(0, 0, 0, 0.337);
        animation: levelListHoverBack 1s ease;
        flex-wrap: nowrap;
        overflow: auto;
        max-height: 70vh;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 50%;
        margin: 0 5%;
        z-index: 1;
    }
    .LevelSection__levelList:hover{
        animation: levelListHover .5s alternate forwards;
    }
    .LevelSection__background{
        width: 100%;
        height: 100%;
        left: 25%;
        z-index: -1;
        position: absolute;
        object-fit: cover;
        bottom: 0;
        
    }
    .LevelSection__backgroundSecond{
        animation: none;
        filter: blur(1px);
    }
    .LevelSection__informationContent{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 5%;
        width: 35%;
        height: 70vh;
        .LevelSection__aboutLangSection{
            background-color: rgb(18, 18, 18);
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            overflow-y: auto;
            overflow-x: hidden;
            .aboutLangSection__logo{
                object-fit: contain;
                height: 25%;
            }
            .aboutLangSection__title{
                margin-bottom: 2%;
                font-size: 2vh;
                font-weight: 900;
                letter-spacing: 1px;
                font-family: Jura;
            }
            .aboutLangSection__description{
                text-align: center;
                font-size: 1.5vh;
                letter-spacing: 1px;
                line-height: 2vh;
                max-width: 90%;
            }
            .aboutLangSection__href{
                background-color: white;
                color: black;
                width: 25%;
                height: 10%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 600;
                border-radius: 3px;
                margin: 2%;
            }
        }
        .LevelSection__aboutLangSection:hover{
            animation: aboutLangSectionHover .5s ease forwards;
        }
        .LevelSection__aboutLangSection:hover .aboutLangSection__title{
            animation: aboutLangSectionHoverText .5s alternate forwards;
        }
        .LevelSection__aboutLangSection:hover .aboutLangSection__description{
            animation: aboutLangSectionHoverText .5s alternate forwards;
        }
        .LevelSection__aboutLangSection:hover .aboutLangSection__href{
            animation: aboutLangSectionHoverHref .5s alternate forwards;
        }
        .LevelSection__lvlStatisticsBlock{
            background-color: rgb(18, 18, 18);
            height: 40%;
            padding-bottom: 2%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            .lvlStatisticsBlock__personalData{
                display: flex;
                justify-content: end;
                align-items: center;
                height: 30%;
                width: 90%;
                margin: 0 auto;
                .lvlStatisticsBlock__avatar{
                    max-width: 20%;
                    height: 100%;
                    object-fit: contain;
                }
                .lvlStatisticsBlock__name{
                    font-size: 2vh;
                    letter-spacing: 3px;
                    text-shadow: 2px 2px 5px rgb(87, 87, 87);
                }
            }
            .lvlStatisticsBlock__statisticsSection{
                width: 90%;
                height: 70%;
                padding: 0 1%;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
        }
        .LevelSection__lvlStatisticsBlock:hover .lvlStatisticsBlock__statisticsSection{
            animation: aboutLangSectionHover .5s alternate forwards;
        }
    }
}

@keyframes levelListHoverBack {
    from{
        background-color: rgba(0, 0, 0, 0.869);
        backdrop-filter: blur(7px);
    }
    100%{
        background-color: rgba(0, 0, 0, 0.337);
        backdrop-filter: blur(0px);
    }
}
@keyframes levelListHover {
    100%{
        background-color: rgba(0, 0, 0, 0.869);
        backdrop-filter: blur(7px);
    }
}
@keyframes aboutLangSectionHover {
    100%{
        background-color: rgba(161, 161, 161, 0.493);
        backdrop-filter: blur(7px);
        border-radius: 7px;
    }
}
@keyframes aboutLangSectionHoverText {
    100%{
        color: rgb(0, 0, 0);
        font-weight: 600;
    }
}
@keyframes aboutLangSectionHoverHref {
    100%{
        background-color: rgb(0, 0, 0);
        color: white;
    }
}
.LevelSectionReverse{
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-around;
}